PORT=8787
PUBLIC_APP_URL=http://localhost:5173
COURSE_NAME=Курс Бармен-Профессионал
COURSE_PRICE_RUB=39500
DEFAULT_PAYMENT_PROVIDER=tbank
VITE_YANDEX_MAPS_API_KEY=

# Seller requisites
SELLER_COMPANY_NAME=ИП Сидоров Игорь Олегович
SELLER_INN=482305314617
SELLER_EMAIL=glass_and_ice@mail.ru
SELLER_CHECKING_ACCOUNT=40802810000007421339
SELLER_BANK_NAME=АО «ТБанк»
SELLER_BANK_BIK=044525974
SELLER_CORRESPONDENT_ACCOUNT=30101810145250000974

# Fill to enable T-Bank payments
TBANK_TERMINAL_KEY=1775573610073DEMO // В документации  это  TERMINAL ID
TBANK_SECRET_KEY= *Nrm_m^L3ry&CeS // пароль я изменил
TBANK_API_URL=https://securepay.tinkoff.ru/v2
TBANK_NOTIFICATION_URL=http://localhost:8787/api/payments/tbank/webhook
TBANK_SUCCESS_URL=http://localhost:5173/payment/success
TBANK_FAIL_URL=http://localhost:5173/payment/fail
TBANK_USE_MINIMAL_INIT=true
TBANK_SEND_RECEIPT=false
TBANK_TAXATION=usn_income
TBANK_VAT=none
TBANK_PAYMENT_METHOD=full_prepayment
TBANK_PAYMENT_OBJECT=service
